   <!-- 广告 -->
<div class="ads">
	<div class="cg">
		<img src="../images/demo3.jpg" />
	</div>
</div>

<div class="comarticle">
	<div class="cg">
		<div class="am-u-sm-12">
			<div class="comarticle-right">
				<h1>网页制作</h1>
				<ul>

					<li>
						<a href="page.html">
							<strong>【adobe dreamweaver cs6 中文破解下载】DW破解版64位 / 32位下载</strong>
							<span>adobe dreamweaver cs6破解版是由Adobe公司推出的一款网页设计软件，他可以实现所见即所得的效果。新版的dreamweaver cs6改善了FTP的性能，能高效传输大体积文件，同时也支持HTML5代码。并且还使用了自适应网格版面创建页面...</span>
							<h1><em>更新时间：2013/9/11</em><em>人气：13958</em><em>软件大小：146 MB</em></h1>
						</a>
					</li>

					<li>
						<a href="page.html">
							<strong>【adobe dreamweaver cs6 中文破解下载】DW破解版64位 / 32位下载</strong>
							<span>adobe dreamweaver cs6破解版是由Adobe公司推出的一款网页设计软件，他可以实现所见即所得的效果。新版的dreamweaver cs6改善了FTP的性能，能高效传输大体积文件，同时也支持HTML5代码。并且还使用了自适应网格版面创建页面...</span>
							<h1><em>更新时间：2013/9/11</em><em>人气：13958</em><em>软件大小：146 MB</em></h1>
						</a>
					</li>

					<li>
						<a href="page.html">
							<strong>【adobe dreamweaver cs6 中文破解下载】DW破解版64位 / 32位下载</strong>
							<span>adobe dreamweaver cs6破解版是由Adobe公司推出的一款网页设计软件，他可以实现所见即所得的效果。新版的dreamweaver cs6改善了FTP的性能，能高效传输大体积文件，同时也支持HTML5代码。并且还使用了自适应网格版面创建页面...</span>
							<h1><em>更新时间：2013/9/11</em><em>人气：13958</em><em>软件大小：146 MB</em></h1>
						</a>
					</li>


					<li>
						<a href="page.html">
							<strong>【adobe dreamweaver cs6 中文破解下载】DW破解版64位 / 32位下载</strong>
							<span>adobe dreamweaver cs6破解版是由Adobe公司推出的一款网页设计软件，他可以实现所见即所得的效果。新版的dreamweaver cs6改善了FTP的性能，能高效传输大体积文件，同时也支持HTML5代码。并且还使用了自适应网格版面创建页面...</span>
							<h1><em>更新时间：2013/9/11</em><em>人气：13958</em><em>软件大小：146 MB</em></h1>
						</a>
					</li>

					<li>
						<a href="page.html">
							<strong>【adobe dreamweaver cs6 中文破解下载】DW破解版64位 / 32位下载</strong>
							<span>adobe dreamweaver cs6破解版是由Adobe公司推出的一款网页设计软件，他可以实现所见即所得的效果。新版的dreamweaver cs6改善了FTP的性能，能高效传输大体积文件，同时也支持HTML5代码。并且还使用了自适应网格版面创建页面...</span>
							<h1><em>更新时间：2013/9/11</em><em>人气：13958</em><em>软件大小：146 MB</em></h1>
						</a>
					</li>

				</ul>


			</div>

			<!-- 分页器 -->
			@*<ul class="am-pagination am-pagination-default">

					<li class="am-pagination-first ">
						<a href="#" class="">第一页</a>
					</li>
					<li class="am-pagination-prev ">
						<a href="#" class="">上一页</a>
					</li>
					<li class="">
						<a href="#" class="">1</a>
					</li>
					<li class="am-active">
						<a href="#" class="am-active">2</a>
					</li>
					<li class="">
						<a href="#" class="">3</a>
					</li>
					<li class="">
						<a href="#" class="">4</a>
					</li>
					<li class="">
						<a href="#" class="">5</a>
					</li>
					<li class="am-pagination-next ">
						<a href="#" class="">下一页</a>
					</li>

					<li class="am-pagination-last ">
						<a href="#" class="">最末页</a>
					</li>
				</ul>*@

			<div id="page"></div>

		</div>
	</div>
</div>

@section js{
<script>
	$(function () {
		//alert(1);
		layui.use('laypage', function () {
			var laypage = layui.laypage;

			//执行一个laypage实例
			laypage.render({
				elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
				count: 50 //数据总数，从服务端得到
			});
		});
	});
	
</script>

}