
@{
	Layout = null;
}

<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/Areas/Admin/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/wu.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/icon.css" rel="stylesheet" />
	<script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
	<script src="~/Areas/Admin/js/common.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/jquery.easyui.min.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'center',border:false">
			<!-- Begin of toolbar -->
			<div id="wu-toolbar">
				<div class="wu-toolbar-button">
					<a href="#" class="easyui-linkbutton" iconcls="icon-refresh" onclick="reload()" plain="true">刷新</a>
					|
					<a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="Look()" plain="true">查看文章评论</a>
				</div>

			</div>
			<!-- End of toolbar -->
			<table id="wu-datagrid" toolbar="#wu-toolbar"></table>
		</div>
	</div>

	<!-- End of easyui-dialog -->
	<script type="text/javascript">

		/**








		/**
		* Name 分页过滤器
		*/
		function pagerFilter(data) {
			if (typeof data.length == 'number' && typeof data.splice == 'function') {// is array
				data = {
					total: data.length,
					rows: data
				}
			}
			var dg = $(this);
			var opts = dg.datagrid('options');
			var pager = dg.datagrid('getPager');
			pager.pagination({
				onSelectPage: function (pageNum, pageSize) {
					opts.pageNumber = pageNum;
					opts.pageSize = pageSize;
					pager.pagination('refresh', { pageNumber: pageNum, pageSize: pageSize });
					dg.datagrid('loadData', data);
				}
			});
			if (!data.originalRows) {
				data.originalRows = (data.rows);
			}
			var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);
			var end = start + parseInt(opts.pageSize);
			data.rows = (data.originalRows.slice(start, end));
			return data;
		}

		//刷新
		function reload() {
			window.location.reload();

		}




		$(function () {


			GetDate();//页面加载

			function GetDate() {
				/**
				* 载入数据
				*/
				$('#wu-datagrid').datagrid({
					url: 'GetComPage',
					loadFilter: pagerFilter,
					fitColumns: true,
					striped: true,
					rownumbers: true,
					singleSelect: true,
					pagination: true,
					loadMsg: "数据正在赶来的路上...",
					//pagePosition: "both",
					striped: true,
					idField: "aid",
					checkOnSelect: true,
					pageNumber: 1,
					pageSize: 24,
					pageList: [18, 20, 24],
					//queryParams: {
					//	aid=aid,
					//},
					onLoadError: function () {
						$.messager.alert("提示", "数据加载失败，请检查网络连接");
					},
					//onDblClickRow: function (index, row) {//行双击事件
					//	alert(index+""+JSON.stringify(row));
					//},
					columns: [[
						//{ field: 'ck', checkbox: true },
						{ field: 'cmid', title: '编号', width: 100, sortable: true, align: 'center' },
						{ field: 'nname', title: '评论人', width: 100, sortable: true, align: 'center' },
						{ field: 'cmtime', title: '评论时间', width: 100, sortable: true, align: 'center', formatter: function (value, row, index) {

								var str = parseFloat(value.substr(6));
								var t = new Date(str);
								return t.getFullYear() + "-" + (t.getMonth() + 1) + "-" + t.getDate() + " " + t.getHours() + ":" + t.getSeconds();
							} },
						{ field: 'cmhtml', title: '评论内容', width: 100, sortable: true, align: 'center'},

					]]
				});
			}

		});


	</script>
</body>
</html>