
@{
	Layout = null;
}

<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/Areas/Admin/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/wu.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/icon.css" rel="stylesheet" />
	<script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
	<script src="~/Areas/Admin/js/common.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/jquery.easyui.min.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'west',border:true,split:true" title="栏目选择" style="width:150px; padding:5px;">
			<ul id="wu-category-tree" class="easyui-tree">
			</ul>
		</div>
		<div data-options="region:'center',border:false">
			<!-- Begin of toolbar -->
			<div id="wu-toolbar">
				<div class="wu-toolbar-button">
					<a href="#" class="easyui-linkbutton" iconcls="icon-refresh" onclick="reload()" plain="true">刷新</a>
					|
					<a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="Look()" plain="true">查看文章评论</a>
				</div>
				<div class="wu-toolbar-search">
					<label>起始时间：</label><input class="easyui-datebox" id="stime" style="width:120px">
					<label>结束时间：</label><input class="easyui-datebox" id="etime" style="width:120px">
					<label>文章状态：</label>
					<select class="easyui-combobox" panelheight="auto" style="width:100px" id="state" data-options="editable:false">
						<option value="">任意</option>
						<option value="1">草稿</option>
						<option value="2">发布</option>
					</select>
					<label>关键词：</label><input class="wu-text" id="title" style="width:100px">
					<a href="#" class="easyui-linkbutton" id="bt1" iconcls="icon-search">开始检索</a>
				</div>
			</div>
			<!-- End of toolbar -->
			<table id="wu-datagrid" toolbar="#wu-toolbar"></table>
		</div>
	</div>

	<!-- End of easyui-dialog -->
	<script type="text/javascript">

		/**

		/**
* 查看文章评论
*/

		function Look() {



			var items = $("#wu-datagrid").datagrid("getSelected");
			if (items != null) {
				window.location.href = "ArtComList?aid=" + items.aid;
			} else {
				$.messager.alert("提示", "请先选择您要查看的文章");
			}
		}





		/**
		* Name 分页过滤器
		*/
		function pagerFilter(data) {
			if (typeof data.length == 'number' && typeof data.splice == 'function') {// is array
				data = {
					total: data.length,
					rows: data
				}
			}
			var dg = $(this);
			var opts = dg.datagrid('options');
			var pager = dg.datagrid('getPager');
			pager.pagination({
				onSelectPage: function (pageNum, pageSize) {
					opts.pageNumber = pageNum;
					opts.pageSize = pageSize;
					pager.pagination('refresh', { pageNumber: pageNum, pageSize: pageSize });
					dg.datagrid('loadData', data);
				}
			});
			if (!data.originalRows) {
				data.originalRows = (data.rows);
			}
			var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);
			var end = start + parseInt(opts.pageSize);
			data.rows = (data.originalRows.slice(start, end));
			return data;
		}

		//刷新
		function reload() {
			window.location.reload();

		}



	
		$(function () {



			var cid;
			$('#wu-category-tree').tree({
				url: 'GetCategory',
				onClick: function (node) {
					//alert(node.id);  // 在用户点击的时候提示
					cid = node.id;
					GetDate("", "", "", "", cid);
				}


			});

			$("#bt1").click(function () {
				var stime = $("#stime").val();
				var etime = $("#etime").val();
				var state = $("#state option:selected").val();
				var title = $("#title").val();
				GetDate(stime, etime, state, title, cid);
			});
			GetDate("", "", "", "", "");//页面加载

			function GetDate(stime, etime, state, title, cid) {
				/**
				* 载入数据
				*/
				$('#wu-datagrid').datagrid({
					url: 'GetArticlePage',
					loadFilter: pagerFilter,
					fitColumns: true,
					striped: true,
					rownumbers: true,
					singleSelect: true,
					pagination: true,
					loadMsg: "数据正在赶来的路上...",
					//pagePosition: "both",
					striped: true,
					idField: "aid",
					checkOnSelect: true,
					pageNumber: 1,
					pageSize: 24,
					pageList: [18, 20, 24],
					queryParams: {
						stime: stime,
						etime: etime,
						state: state,
						title: title,
						cid: cid
					},
					onLoadError: function () {
						$.messager.alert("提示", "数据加载失败，请检查网络连接");
					},
					onDblClickRow: function (index, row) {//行双击事件
						window.location.href = "ArtComList?aid=" + row.aid;
					},
					columns: [[
						//{ field: 'ck', checkbox: true },
						{ field: 'aid', title: '编号', width: 100, sortable: true, align: 'center' },
						{
							field: 'title', title: '标题', width: 180, sortable: true, align: 'center'

						},
						{ field: 'ctitle', title: '所属栏目', width: 100, align: 'center' },
						{ field: 'author', title: '作者', width: 100, align: 'center' },
						{ field: 'nname', title: '发布人', width: 100, align: 'center' },
						{
							field: 'ctime', title: '创建时间', width: 100, align: 'center', formatter: function (value, row, index) {

								var str = parseFloat(value.substr(6));
								var t = new Date(str);
								return t.getFullYear() + "-" + (t.getMonth() + 1) + "-" + t.getDate() + " " + t.getHours() + ":" + t.getSeconds();
							}
						},
						{
							field: 'ptime', title: '发布时间', width: 100, align: 'center', formatter: function (value, row, index) {

								var str = parseFloat(value.substr(6));
								var t = new Date(str);
								return t.getFullYear() + "-" + (t.getMonth() + 1) + "-" + t.getDate() + " " + t.getHours() + ":" + t.getSeconds();
							}
						},
						{
							field: 'istop', title: '置顶', width: 100, align: 'center', formatter: function (value, row, index) {

								return value == true ? "已置顶" : "未置顶"
							}
						},
						{ field: 'hits', title: '点击率', width: 100, align: 'center' },
						{ field: 'comments', title: '评论数', width: 100, align: 'center' }
					]]
				});
			}

		});


	</script>
</body>
</html>