
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/Areas/Admin/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/wu.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/icon.css" rel="stylesheet" />
	<script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
	<script src="~/Areas/Admin/js/common.js"></script>
	<script src="~/Areas/Admin/layui/layui.js"></script>
	<link href="~/Areas/Admin/layui/css/layui.css" rel="stylesheet" />
	<script src="~/Areas/Admin/easyui/1.5.2/jquery.easyui.min.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>

</head>
<body>
	<div class="wu-toolbar-search">
		<label>分组：</label>
		<select class="easyui-combobox" panelheight="auto" style="width:100px" id="a1">
			<option value="">选择分组</option>
			<option value="true">显示</option>
			<option value="false">隐藏</option>
		</select>
		<label>关键词：</label><input class="wu-text" id="d1" style="width:100px">
		<a href="#" class="easyui-linkbutton" id="bt1" iconcls="icon-search">开始检索</a>
	</div>
	<div class="easyui-layout" data-options="fit:true">

		<!-- End of toolbar -->
		<table id="wu-datagrid-2" class="easyui-datagrid" toolbar="#wu-toolbar-2"></table>
	</div>


	//对话框
	<!-- Begin of easyui-dialog -->
	<div id="wu-dialog-2" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
		<form id="wu-form-2" method="post">

			<table>
				<tr>
					<td width="60" align="right">关键字:</td>
					<td><input type="text" name="keyword" id="keyword" class="wu-text" readonly="readonly" /></td>
				</tr>

				<tr>
					<td valign="top" align="right">显 示:</td>
					<td>
						<input type="radio" id="show" name="show" value="true" />是
						<input type="radio" id="show" name="show" value="false" />否
					</td>
				</tr>
			</table>
		</form>
	</div>


	<!-- End of easyui-dialog -->

	<script type="text/javascript">

		$(function () {

	
			/**
			* Name 载入数据w
			*/

			$("#bt1").click(function () {
				var a = $("#a1").val();
				var b = $("#d1").val();
				GetDate(a, b);
			});

			GetDate("","")

		});
		    /**
        * Name 分页过滤器
        */
        function pagerFilter(data) {
            if (typeof data.length == 'number' && typeof data.splice == 'function') {// is array
                data = {
                    total: data.length,
                    rows: data
                }
            }
            var dg = $(this);
            var opts = dg.datagrid('options');
            var pager = dg.datagrid('getPager');
            pager.pagination({
                onSelectPage: function (pageNum, pageSize) {
                    opts.pageNumber = pageNum;
                    opts.pageSize = pageSize;
                    pager.pagination('refresh', { pageNumber: pageNum, pageSize: pageSize });
                    dg.datagrid('loadData', data);
                }
            });
            if (!data.originalRows) {
                data.originalRows = (data.rows);
            }
            var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);
            var end = start + parseInt(opts.pageSize);
            data.rows = (data.originalRows.slice(start, end));
            return data;
		}

		function GetDate(show,keyword) {
			$('#wu-datagrid-2').datagrid({
				url: "GetKeyWord",
				loadFilter: pagerFilter,
				fitColumns: true,
				striped: true,
				rownumbers: true,
				singleSelect: true,
				pagination: true,
				loadMsg: "数据正在赶来的路上...",
				//pagePosition: "both",
				striped: true,
				idField: "uid",
				checkOnSelect: true,
				pageNumber: 1,
				pageSize: 24,
				pageList: [18, 20, 24],
					queryParams: {
						show: show,
						keyword: keyword
				},
				columns: [[
					//{ field: 'ck', checkbox: true },
					{ field: 'kid', title: '编号', width: 100, sortable: true, align: 'center' },
					{ field: 'keyword', title: '关键字', width: 180, sortable: true, align: 'center' },
					{ field: 'stimes', title: '搜索量', width: 100, align: 'center' },
					{
						field: 'ltimes', title: '最近搜索', width: 100, align: 'center', formatter: function (value, row, index) {

							var str = parseFloat(value.substr(6));
							var t = new Date(str);
							return t.getFullYear() + "-" + (t.getMonth() + 1) + "-" + t.getDate() + " " + t.getHours() + ":" + t.getSeconds();
						}
					},
					{
						field: 'show', title: '是否显示', width: 100, align: 'center', formatter: function (a, b, c) {

							return a == true ? "显示" : "隐藏"
						}
					}
				]],
				toolbar: [{
					iconCls: 'icon-edit',
					text: '修改',
					handler: function () {
						var items = $("#wu-datagrid-2").datagrid("getSelected");
						//alert(JSON.stringify(items));
						if (items != null) {
							$("#wu-form-2").form("load", items);//表单加载数据
							$('#wu-dialog-2').dialog({
								closed: false,
								modal: true,
								title: "修改信息",
								buttons: [{
									text: '确定',
									iconCls: 'icon-ok',
									handler: function () {
										$("#wu-form-2").form("submit", {
											url: "UpdKeyInfo",
											onSubmit: function (ps) {
												ps.kid = items.kid
											},
											success: function (d) {

												if (d > 0) {
													$.messager.alert('提示', '修改成功', 'info');
													$('#wu-dialog-2').dialog('close');
													$("#wu-datagrid-2").datagrid("reload");
												} else {
													$.messager.alert('提示', "请稍后重试", 'info');
													$('#wu-dialog-2').dialog('close');
												}
											}
										});
									}
								}, {
									text: '取消',
									iconCls: 'icon-cancel',
									handler: function () {
										$('#wu-dialog-2').dialog('close');
									}
								}]
							});
						} else {
							$.messager.alert('提示', '请先选择数据行', 'info');
						}
					}
				}, '-', {
					iconCls: 'icon-remove',
					text: '删除',
					handler: function () {
						var items = $("#wu-datagrid-2").datagrid("getSelected");
						//alert(JSON.stringify(items));
						if (items != null) {
							$.messager.confirm('信息提示', '确定要删除该记录？', function (result) {
								if (result) {

									$.post("delKey", { "kid": items.kid }, function (d) {
										if (d.state) {
											$("#wu-datagrid-2").datagrid("reload");
											$.messager.alert('信息提示', d.msg, 'info');
										} else {
											$.messager.alert('信息提示', d.msg, 'info');
										}
									})
								}


							});
						} else {
							$.messager.alert('提示', '请先选择数据行', 'info');
						}
					}
				}, '-', {
					iconCls: 'icon-reload',
					text: '刷新',
					handler: function () {
						window.location.reload();
					}
				}, '-', {
					iconCls: 'icon-print',
					text: '打印',
						handler: function () {
							window.print();

					}
				}]
			});
		}
	</script>
</body>
</html>