
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/Areas/Admin/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/wu.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/icon.css" rel="stylesheet" />
	<script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
	<script src="~/Areas/Admin/js/common.js"></script>
	<script src="~/Areas/Admin/layui/layui.js"></script>
	<link href="~/Areas/Admin/layui/css/layui.css" rel="stylesheet" />
	<script src="~/Areas/Admin/easyui/1.5.2/jquery.easyui.min.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>

</head>
<body>

	<div class="easyui-layout" data-options="fit:true">

		<!-- End of toolbar -->
		<table id="wu-datagrid-2" class="easyui-datagrid" toolbar="#wu-toolbar-2"></table>
	</div>


	//对话框
	<!-- Begin of easyui-dialog -->
	<div id="wu-dialog-2" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
		<form id="wu-form-2" method="post">

			<table>
				<tr>
					<td width="60" align="right">栏目名称:</td>
					<td><input type="text" name="ctitle" id="ctitle" class="wu-text" required="required"/></td>
				</tr>
				<tr>
					<td width="60" align="right">栏目英文名称:</td>
					<td><input type="text" name="cname" id="cname" class="wu-text" required="required"/></td>
				</tr>
				<tr>
					<td valign="top" align="right">显示导航:</td>
					<td>
						<input type="radio" id="nav" name="nav" value="true" />是
						<input type="radio" id="nav" name="nav" value="false" />否
					</td>
				</tr>
				<tr>
					<td valign="top" align="right">是否被搜索:</td>
					<td>
						<input type="radio" id="search" name="search" value="true" />是
						<input type="radio" id="search" name="search" value="false" />否
					</td>
				</tr>
			</table>
		</form>
	</div>

	<div id="dlg" class="easyui-dialog" title="添加用户信息" style="width:550px;height:250px;padding:10px" closed="true">
		<div class="easyui-panel" title="" style="width:100%;padding:30px 60px;">
			<form id="ff" method="post">
				<table>
					<tr>
						<td width="60" align="right">栏目名称:</td>
						<td><input type="text" name="ctitle" id="ctitle" class="wu-text" required="required"/></td>
					</tr>
					<tr>
						<td width="60" align="right">英文名称:</td>
						<td><input type="text" name="cname" id="cname" class="wu-text" required="required"/></td>
					</tr>
					<tr>
						<td valign="top" align="right">显示导航:</td>
						<td>
							<input type="radio" id="nav" name="nav" value="true" />是
							<input type="radio" id="nav" name="nav" value="false" />否
						</td>
					</tr>
					<tr>
						<td valign="top" align="right">搜索:</td>
						<td>
							<input type="radio" id="search" name="search" value="true" />是
							<input type="radio" id="search" name="search" value="false" />否
						</td>
					</tr>
				</table>
			</form>

		</div>


	</div>
	<!-- End of easyui-dialog -->

	<script type="text/javascript">

		$(function () {

	




			$("#dlg").dialog({
				buttons: [{

					text: '添加',
					handler: function () {

						$("#ff").form("submit", {
							url: "AddCol",
							success: function (d) {
								if (d > 0) {
									$.messager.alert('提示', '添加成功', 'info');
									$("#dlg").dialog({
										closed: true,
									});
									$("#wu-datagrid-2").datagrid("reload");
								}  else {
									$.messager.alert('提示', '请稍后重试', 'info');
								}
							}
						});
					}
				}, {
					text: '关闭',
					handler: function () {
						$("#dlg").dialog({
							closed: true,
						});
					}
				}]
			});
		});


				$('#wu-datagrid-2').datagrid({
				url: "GetPageCol",
				fitColumns: true,
				striped: true,
				rownumbers: true,
				singleSelect: true,
				pagination: true,
				loadMsg: "数据正在赶来的路上...",
				//pagePosition: "both",
				striped: true,
				idField: "uid",
				checkOnSelect: true,
				pageNumber: 1,
				pageSize: 10,
				pageList: [10, 15, 20],
				columns: [[
					//{ field: 'ck', checkbox: true },
					{ field: 'cid', title: '编号', width: 100, sortable: true, align: 'center' },
					{ field: 'ctitle', title: '栏目名称', width: 180, sortable: true, align: 'center' },
					{ field: 'cname', title: '栏目英文名', width: 100, align: 'center' },
					{
						field: 'nav', title: '显示导航', width: 100, align: 'center', formatter: function (a, b, c) {

							return a == true ? "是" : "否"
						}
					},
					{ field: 'navorder', title: '显示导航顺序', width: 100, align: 'center' },
					{
						field: 'search', title: '是否被搜索', width: 100, align: 'center', formatter: function (a, b, c) {

							return a == true ? "是" : "否"
						}
					}
				]],
				toolbar: [{
					iconCls: 'icon-add',
					text: '添加',
					handler: function () {
						$("#ff").form("clear");
						$("#dlg").dialog({
							closed: false,

						});
					}
				}, '-', {
					iconCls: 'icon-edit',
					text: '修改',
					handler: function () {
						var items = $("#wu-datagrid-2").datagrid("getSelected");
						//alert(JSON.stringify(items));
						if (items != null) {
							$("#wu-form-2").form("load", items);//表单加载数据
							$('#wu-dialog-2').dialog({
								closed: false,
								modal: true,
								title: "修改信息",
								buttons: [{
									text: '确定',
									iconCls: 'icon-ok',
									handler: function () {
										$("#wu-form-2").form("submit", {
											url: "UpdInfoByCid",
											onSubmit: function (ps) {
												ps.cid = items.cid
											},
											success: function (d) {

												if (d > 0) {
													$.messager.alert('提示', '修改成功', 'info');
													$('#wu-dialog-2').dialog('close');
													$("#wu-datagrid-2").datagrid("reload");
												} else {
													$.messager.alert('提示', "请稍后重试", 'info');
													$('#wu-dialog-2').dialog('close');
												}
											}
										});
									}
								}, {
									text: '取消',
									iconCls: 'icon-cancel',
									handler: function () {
										$('#wu-dialog-2').dialog('close');
									}
								}]
							});
						} else {
							$.messager.alert('提示', '请先选择数据行', 'info');
						}
					}
				}, '-', {
					iconCls: 'icon-remove',
					text: '删除',
					handler: function () {
						var items = $("#wu-datagrid-2").datagrid("getSelected");
						//alert(JSON.stringify(items));
						if (items != null) {
							$.messager.confirm('信息提示', '确定要删除该记录？', function (result) {
								if (result) {

									$.post("delCol", { "cid": items.cid }, function (d) {
										if (d.state) {
											$("#wu-datagrid-2").datagrid("reload");
											$.messager.alert('信息提示', d.msg, 'info');
										} else {
											$.messager.alert('信息提示', d.msg, 'info');
										}
									})
								}


							});
						} else {
							$.messager.alert('提示', '请先选择数据行', 'info');
						}
					}
				}, '-', {
					iconCls: 'icon-reload',
					text: '刷新',
					handler: function () {
						window.location.reload();
					}
				}, '-', {
					iconCls: 'icon-print',
					text: '打印',
						handler: function () {
							window.print();

					}
				}]
			});
		
	</script>
</body>
</html>