
@{
	Layout = null;
}

<!DOCTYPE html>
@using Model
<html>
<head>
	<title></title>
	<meta charset="utf-8" />

	<link href="~/Areas/Admin/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/wu.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/icon.css" rel="stylesheet" />
	<script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
	<script src="~/Areas/Admin/js/common.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/jquery.easyui.min.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>
	<script src="~/Areas/Admin/layui/layui.js"></script>
	<link href="~/Areas/Admin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<table id="wu-datagrid-comment" class="easyui-datagrid"
			   title="最新评论"></table>
		<br />
		<br />
		<table id="wu-datagrid-user" class="easyui-datagrid"
			   title="最新注册的用户"></table>

		<br />
		<br />
		<table id="wu-datagrid-article" class="easyui-datagrid"
			   title="最新发布的文章"></table>
	</div>

	<script type="text/javascript">
		function To(v) {
			var str = parseFloat(v.substr(6));
			var t = new Date(str);
			return t.getFullYear() + "-" + (t.getMonth() + 1) + "-" + t.getDate() + " " + t.getHours() + ":" + t.getSeconds();
		}
		$(function () {

			layui.use('layer', function () {
				var layer = layui.layer;
			layer.alert("欢迎@((Session["admin"] as CMS_User).uname)登录", {title: '系统信息',icon: 6,offset: 'rb',shade: 0,btnAlign: 'c'}); 
			});         
			/**
		* 载入数据
		*/
			$('#wu-datagrid-comment').datagrid({
				url: 'GetNewCom',
				collapsible: true,
				singleSelect: true,
				fitColumns: true,
				loadMsg: "数据正在赶来的路上...",
				columns: [[
					{ field: 'cmid', title: '编号', width: 100, align: 'center' },
					{ field: 'title', title: '文章标题', width: 180, align: 'center' },
					{ field: 'nname', title: '评论人', width: 100, align: 'center' },
					{ field: 'cmhtml', title: '评论内容', width: 100, align: 'center' },
					{
						field: 'cmtime', title: '评论时间', width: 100, align: 'center', formatter: function (value, row, index) {

							return To(value);
						}
					}
				]]
			});

			/**
			* 载入数据
			*/
			$('#wu-datagrid-user').datagrid({
				url: 'NewUser',
				collapsible: true,
				singleSelect: true,
				fitColumns: true,
				columns: [[
					{ field: 'uid', title: '编号', width: 100, align: 'center' },
					{ field: 'uname', title: '用户名', width: 180, align: 'center' },
					{
						field: 'nname', title: '昵称', width: 100, align: 'center', formatter: function (value, row, index) {
							return value == null ? "未设置昵称" : value;
						}
					},
					{ field: 'mobile', title: '电话号码', width: 100, align: 'center' },
				]]
			});

			/**
			* 载入数据
			*/
			$('#wu-datagrid-article').datagrid({
				url: 'NewArt',
				collapsible: true,
				singleSelect: true,
				fitColumns: true,
				columns: [[
					{ field: 'cid', title: '编号', width: 100, align: 'center' },
					{ field: 'title', title: '文章标题', width: 180, align: 'center' },
					{ field: 'ctitle', title: '文章栏目', width: 180, align: 'center' },
					{ field: 'author', title: '作者', width: 100, align: 'center' },
					{ field: 'nname', title: '发布', width: 180, align: 'center' },
					{
						field: 'ptime', title: '发布时间', width: 100, align: 'center'
					},
				]]
			});
		});
	</script>
</body>
</html>